@font-face{
	font-family: Krub;
	src: url("./assets/Krub.ttf");
}

*,
*::before,
*::after{
	box-sizing: border-box;
	font-family: Krub;
}

body{
	margin: 0;
	background-color: hsl(200,100%,96.5%)
}

.invisible{ display: none; }
.app{
	position: relative;
	width: 1020px;
	height: 540px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app::before{
	position: absolute;
	top: 0;
	content: "";
	width: 100%;
	background: url("./assets/bg.jpg") center/cover no-repeat;
	background-size: cover;
	height: 21rem;
	z-index: -1;
}

.cabeceras{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 3em;
}

.cabeceras__cabecera,
.barra__traducir{
	display: block;
	position: relative;
	background-color: hsl(199, 100%, 60%);
	padding: 0.5em 2em;
	font-size: 0.9em;
	border-radius: 5px;
	color: hsl(200,100%,96.5%);
	cursor: default;
	box-shadow: 0px 0.4px 5px 1px rgba(0,0,0,0.25);
	transition: filter 0.5s ease;
	width: 8em;
	text-align: center;
}
.cabeceras__cabecera:hover,
.barra__traducir:hover{
  filter: brightness(110%);
}
.cabeceras__cambiar{
	position: absolute;
	height: 1.5em;
	cursor: pointer;
	transition: transform 0.5s ease;
}
.cabeceras__cambiar:hover{transform: scale(1.2);}
.cabeceras__cambiar:active{transform: rotate(180deg)}
.cabeceras__cambiar path {fill: hsl(200,100%,96.5%);}

.entradas{
	margin-top: 3em;
	width: 90%;
	display: flex;
	justify-content: space-between;
}
.entradas__entrada{
	position: relative;
	flex-basis: 47%;
	border-radius: 5px;
	box-shadow: 0px 0.4px 5px 1px rgba(0,0,0,0.25);
	transition: transform 0.5s ease;
}
.entrada__textarea{
	width: 100%;
	border-radius: 5px;
	height: 14rem;
	border: none;
	resize: none;
	outline: none;
	font-size: 1em;
	padding: 1.4em;
	padding-top: 1.8em;
	background-color: hsl(200,100%,96.5%);
}
.entradas__entrada:hover{
	transform: scale(1.02);
}
.entrada__archivo{
  position: absolute;
  top: 4.6em;
  left: 1.7em;
  color: hsl(210, 73%, 54%);
  font-weight: 500;
  font-size: 0.9em;
  cursor: pointer;
}
.entrada__archivo:hover{
	text-decoration: underline;
}
.entrada__barra{
  display: flex;
	bottom: 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 0.8em 0 0.8em;
	width: 100%;
}
.barra__icono{
	height: 1.1em;
	margin-left: 2em;
	transition: transform 0.5s ease;
}
.barra__icono:hover{transform: scale(1.4);}
.barra__icono path{fill: hsl(210, 73%, 55%); }
.icono-desactivado:hover{transform: scale(1);}
.icono-desactivado path{fill: #999;}

.barra__traducir{
	cursor: pointer;
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.desactivado { transition: none; background-color: #999; cursor: default;}
.desactivado:hover{filter: brightness(100%)}
